{{define "cre.tm"}}
{{template "hea.tm"}}

<div class="card">
    <div class="card-header">
        Insertar productos
    </div>
    <div class="card-body">
        <div class="container">
            <form method="POST" action="/insertpt">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="Namept" id="Namept" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Inserta el nombre del producto</small>
                </div>
                <div class="form-group">
                    <label for="">Precio</label>
                    <input type="text"
                        class="form-control form-control-sm" name="Pricept" id="Pricept" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Inserta el precio del producto</small>
                </div>
                <div class="form-group">
                    <label for="">Url Imagen</label>
                    <input type="text" class="form-control" name="Imgpt" id="Imgpt" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Inserta el enlace a la imagen del producto</small>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
          </form>
        </div>
    </div>
    <div class="card-footer text-muted">
        Creado por Megof
    </div>
</div>

{{template "foo.tm"}}
{{end}}