{{define "idx.tm"}}
{{ template "hea.tm" }}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
    {{ range.}}
        <tr>
            <td scope="row">{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
            <td><img src="{{.Img}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></td>
        </tr>
    {{end}}
    </tbody>
</table>
<a name="" id="" class="btn btn-primary" href="/create" role="button">Crear</a>
{{template "foo.tm" }}
{{end}}