{{define "index.tm"}}
{{ template "hea.tm" }}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>Megofsss</td>
            <td>Megof@</td>
            <td>1</td>
        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Timer</td>
            <td>Timer@</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
<a name="" id="" class="btn btn-primary" href="/create" role="button">Crear</a>
{{template "foo.tm" }}
{{end}}